* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --small-letter-clr: hsl(228, 12%, 48%);
  --btn-price-clr: hsl(158, 36%, 37%);
  --transition-clr: hsl(158, 51%, 45%);
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Fraunces", serif;
  --bgc-color: hsl(30, 38%, 92%);
}

body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  height: calc(100vh - 4rem);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_container {
  background-color: #fff;
  display: flex;
  width: 39rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.75rem;
}

.img_container {
  width: 100%;
}

.img_container img {
  height: 30rem;
  object-fit: cover;
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
  margin-top: 5px;
}

.text_container {
  width: 100%;
  padding-inline: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2rem;
  gap: 1.25rem;
}

section .text_container #price {
  font-family: var(--secondary-font);
  color: var(--btn-price-clr);
  transition: all 0.4s ease;
}

section .text_container #false_price {
  color: var(--small-letter-clr);
  font-size: 0.75rem;
  text-decoration: line-through;
  font-family: var(--primary-font);
  font-weight: 300;
}

section .text_container #title {
  color: var(--small-letter-clr);
  font-family: var(--primary-font);
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 300;
  letter-spacing: 5px;
}

section .text_container h2 {
  color: #141414;
  font-family: var(--secondary-font);
  text-transform: capitalize;
  font-size: 2rem;
  line-height: 100%;
}

section .text_container p {
  color: var(--small-letter-clr);
  line-height: 175%;
  padding-right: 0.5rem;
  font-family: var(--primary-font);
  font-size: 13px;
}

section .text_container #btn {
  padding-inline: 10.4px;
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 0.875rem;
  cursor: pointer;
  color: #eee;
  width: 100%;
  height: 48px;
  background-color: var(--btn-price-clr);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.4s ease;
  text-decoration: none;
}

section .text_container #icon {
  padding-right: 10.4px;
}

section .text_container #btn:hover {
  background-color: var(--transition-clr);
  scale: 1.1;
}

section .text_container #btn:active {
  background-color: hsl(158, 86%, 14%);
  scale: 1.1;
}

section .text_container #price:hover {
  color: var(--transition-clr);
}

.attribution {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141414;
  text-decoration: none;
  color: var(--bgc-color);
  transition: all 0.4s ease-out;
  font-size: 1.5rem;
  padding: 10px;
}

.attribution:hover {
  color: var(--btn-price-clr);
  background-color: var(--bgc-color);
}

@media (width <= 414px) {
  .container .card_container {
    flex-direction: column;
    max-width: 23.4375rem;
    height: 39rem;
    margin: 1rem;
  }
  .container .card_container .img_container {
    flex-direction: column;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
  }

  .container .card_container .img_container img {
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border-bottom-left-radius: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 0;
  }

  .prices {
    gap: 1.25rem;
    padding-right: 2rem;
  }

  .attribution {
    font-size: 1.25rem;
  }
}
